@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

.Login{
    width: 30vw;
    height: 90vh;
    padding: 40px;
    border-radius: 16px 0 0 16px;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    
    text-align: center;
 
    background-color: #72ECAA;
}

.Login h1{
    margin-top: 25%;

    font-size: 28px;
    font-weight: bolder;

    color: #FFF;
}
.Login p{
    margin-top: 20%;

    font-size: 18px;
    font-weight: lighter;

    color: #FFF;
}


#formLogin{
    margin: 10% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.campoLogin{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.labelLogin{
    display: block;
    margin-left: 10px;
    
    text-align: left;
    color: #FFF;
}
.inputLogin{
    width: 100%;
    height: 40px;
    margin: 2px auto 10px auto;
    padding: 20px;
    
    border-radius: 16px;
    
    background-color: transparent;
    border: 3px solid #FFF;
}
.formButton{
    width: 60%;
    height: 50px;
    border-radius: 16px;
    font-size: 18px;    
    font-weight: 400;
    cursor: pointer;
}
.loginButton{
    margin: 5% auto;
    
    color: #FFF;

    border: 3px solid #FFF;

    background-color: transparent;

    transition: all 0.6s;
}
.loginButton:hover{
    background-color: #FFF;
    color: #72ECAA;

    border: none;
}

.togglePage{
    text-decoration: none;
    color: whitesmoke;
}
.togglePage:hover{
    color: #FFF;
    text-decoration: underline;
}

@media screen and (max-width:940px) {
    .Login{
        display: none;
        width: 100%;
        height: 80vh;
        border: 3px solid white;
        border-radius: 16px;
        transition: all 0.6s;

    }
    .Login h1{
        margin: auto;
        font-size: 100%;
    }
    .Login p{
        margin: auto;
        font-size: 100%;
    }
    #formLogin, .campoLogin, .campoLogin input {
        width: 100%;
    }

    .loginButton{
        margin: 1% auto;
    }
}

@media screen and (min-width:2560px) {
    .Login h1{
        font-size: 3.5em;
    }
    .Login p{
        font-size: 3em;
    }
    .labelLogin{
        font-size: 2em;
    }
    .inputLogin{
        height: 80px;
    }
    .inputLogin::placeholder{
        font-size: 2em;
    }
    .formButton{
        height: 80px;
        font-size: 2em;
    }
    .togglePage{
        font-size: 2em;
    }
}

@media screen and (max-height:1350px){
    .Login{
        overflow-y: scroll;
    }
}