@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

.paginaInicial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
a.togglePage{
    text-decoration: none;
    color: whitesmoke;
    margin: 0 auto;
}
.togglePage:hover{
    color: #FFF;
    text-decoration: underline;
}

@media screen and (min-width:940px) {
    .Cadastro{
        box-shadow: 5px 5px 1px #b5b5b5;
        /* #b5b5b5 */
    }
    .Login{
        box-shadow: 6px 5px 1px #b5b5b5;
    }
}

@media screen and (max-width:940px) {
    .paginaInicial{
        padding: 5px;
        background-color: #72ECAA;
    }
}

@media screen and (min-width:2560px) {
    .paginaInicial{
        width: auto;
    }
}
