@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

.container{
    width: 90%;
    /* height: 100vh; */
    margin: 0 auto;
    text-align: center;
    background-color: whitesmoke
}